/* Space out content a bit */

/* Google Fonts

font-family: 'Inder', sans-serif;
font-family: 'Viga', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Gentium Book Basic', serif;


  Colors Used

rgba(51, 199, 240, 1) - light blueish
rgba(244, 147, 37, 1) -- burnt orange
*/

/* Global Reset */
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
}

html {

}

body {
  font-family: 'Hammersmith One', sans-serif;
}

.container {

}

.headerDiv {
  text-align: center;
  background: url('../images/grey_wash_wall.png');
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.appHeader {
  background: url('../images/apple.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  border-radius: 50%;
  margin: auto;
  background-color: white;
}

.sectionDiv {

}

.sectionHeader {
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  letter-spacing: .1em;
}

.sectionContainer {
  padding: 20px;
  display: none;
  background: url('../images/grey_wash_wall.png');
}

.sectionContainerProfile {
  color: black;
  padding: 20px;
}

.profileSection{
  height: 200px;
  min-width: 700px;
  text-transform: uppercase;
  font-size: .75em;
}

.profile {
  margin-top: 20px;
  min-width: 600px;
  width: auto;
}

#profilePicDiv {
  float: left;
  margin-left: 15px;
}

#profilePic {
  height: 150px;
  width: 140px;
  border-radius: 20px;
}

#userDetails {
  margin-top: 10px;
  margin-left: 30px;
  width: 200px;
  float: left;
}

#userMovieDetails {
  margin-top: 10px;
  margin-left: 30px;
  display: inline-block;
  width: 200px;
}

.userDetail {
  width: 200px;
  line-height: 2.5em;
  display: block;
}

/* friends */

.sectionContainerFriends {
  padding-left: 0px;
}

.friendsSection {
  padding: 0px !important;
}

.friendsSectionHeader {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(244, 147, 37, .75);
}

.friend {
  height: 75px;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 5px;
  width: 100%;
}

.friendsPhoto {
  height: 70px;
  border-radius: 20px;
  float: left;
}

.friendName {
  display: inline-block;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;
}

/* movies */

.moviesSection {

}

.moviesSectionHeader {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(37, 244, 154, .75);
}

.filters {
  margin: auto;
  margin-bottom: 10px;
}

.filter {
  height: 30px;
  width: 100px;
  background-color: white;
  border-radius: 2px;
  border-right: 2px solid white;
  border-top: 2px solid white;
}

.searchFilter {
  height: 23px;
}

.movie {
  display: block;
  padding-top: 15px;
  margin-bottom: 10px;
  overflow: ellipsis;
}

.movieThumb {
  height: 100px;
  float: left;
}

.infoOne {
  float: left;
  width: 200px;
  height: 180px;
  margin-left: 25px;
}

.infoTwo{
  width: 200px;
  height: 180px;
  margin-left: 25px;
  display: inline-block;
}

.movieTitle {
  display: block;
}

.criticScore {
  display: block;

}

.audienceScore {
  display: block;
}

.cast {
  display: block;
  overflow: ellipsis;
}

.actor {
  
}

.criticsConsensus {
  display: block;
}

.runtime {
  display: block;
}

.mpaaRating {
  display: block;
}

.synopsis {
  display: block;

}

.movieHR {
  margin-bottom: 10px;
}

.viewMore {
  display: block;
  margin: auto auto;
  margin-top: 10px;  height: 30px;
  width: 100px;
  background-color: white;
  border-radius: 2px;
  border-right: 2px solid white;
  border-top: 2px solid white;
}

/* outings */

.outingsSection {

}

.outingsSectionHeader {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(51, 199, 240, 1);
}

/* footer */

#footer {
  background: url('../images/grey_wash_wall.png');
  height: 100px;
}

@media (min-width: 990px) {

}
