/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url('../images/photography.png');
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 0px;
}

.jumbotron {
  padding: 0px !important;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  text-align: left;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.container {
  background-color: white;
  border-radius: 5px;
  max-width: 80%;
}

/* dashboard elements */

.sectionHeader {
  color: white;
  padding: 2px;
  border-radius: 3px;
  text-align: center;
}

.sectionContainer {
  text-align: center;
  height: 100%;
  display: none;
}

.profile {
  background-color: rgba(94, 243, 143, 1);
}

.friends {
  background-color: rgba(243, 134, 94, 1);
}

.movies {
  background-color: rgba(94, 208, 243, 1);
}

.outings {
  background-color: rgba(243, 94, 101, 1);
}

#profilePicDiv {

}

#profilePic {
  border-radius: 3px;
  width: 180px;
  border: 5px solid white;
  margin-bottom: 10px;
  margin-left: 10px;
}

#userDetails {
  width: 400px;
  margin: auto auto;
}

#userMovieDetails {
  width: 400px;
  margin: auto auto;
}

.userDetail {
  padding-left: 100px;
  text-align: left;
  display: block;
}

/* login elements */

.loginDiv {
  margin-top: 50px;
  padding: 120px !important;
  text-align: center;
}

.btn-success {
  background-color: #3b5998;
  border: 1px solid #3b5998;
}

/* movies */
.movieDiv {
  font-size: .5em;
}

.movie {

}

.movieTitle {

}

.movieThumb {
  height: 92px;
  width: 62px;
}

.criticScore {

}

.audienceScore {

}

.cast {

}

.criticsConsensus {

}

.runtime {

}

.mpaaRating {

}

.synopsis {

}

.movieHR {
  background-color: black;
  height: 1px;
}

.prevPage {

}

.nextPage {

}

/* Outings */
.movie {

}
.date {

}
.theater {

}
.address {

}
.city {

}
.state {

}
.zip {

}
.invitees {

}
.attendees {

}
.creator {

}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 990px) {
  .container {
    background-color: white;
    border-radius: 5px;
    max-width: 1000px;
  }

  .container-narrow > hr {
    margin: 30px 0;
  }

  /* Main marketing message and sign up button */
  .jumbotron {
    padding: 0px !important;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    text-align: left;
  }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  .sectionHeader {
    text-align: center;
  }

  .sectionContainer {
    padding-bottom: 10px;
    display: block;
  }

  #profilePicDiv {
    margin-left: 20px;
    float: left;
  }

  #profilePic {
    border-radius: 3px;
    height: 200px;
    width: 180px;
    border: 5px solid white;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  #userDetails {
    display: inline-block;
    padding: 10px;
    width: 300px;
  }

  #userMovieDetails {
    display: inline-block;
    width: 300px;
  }

  .userDetail {
    padding-left: 0px;
    display: block;
  }

  /* movies */
  .movieDiv {
    font-size: .5em;
  }

  .movie {

  }

  .movieTitle {

  }

  .criticScore {

  }

  .audienceScore {

  }

  .cast {

  }

  .criticsConsensus {

  }

  .runtime {

  }

  .mpaaRating {

  }

  .synopsis {

  }

  .movieHR {
    background-color: black;
    height: 1px;
  }

  .prevPage {

  }

  .nextPage {

  }
  /* Outings */
  .movie {

  }
  .date {

  }
  .theater {

  }
  .address {

  }
  .city {

  }
  .state {

  }
  .zip {

  }
  .invitees {

  }
  .attendees {

  }
  .creator {

  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
