@charset "UTF-8"; 

/* Yeoman Symbols **************/
/*@font-face {
  font-family: "glyphicons";
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.svg"),
       url("../fonts/glyphicons-halflings-regular.ttf"),
       url("../fonts/glyphicons-halflings-regular.woff");
  font-weight: normal;
  font-style: normal;
}
*/

/* Global Reset ****************/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-indent: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  background: #3F0506;
}

a {
  color: white;
  text-decoration: none;
}

.centered {
  text-align: center;
}

.container {
  width: 100%;
  min-width: 320px;
}

.sectionContainer {
  position: relative;
  top: 44px;
}

/* Nav Bar *********************/

nav {
  text-align: center; /* Centers the group. */
  width: 100%;
  position: fixed;
  background-color: #A81303;
  z-index: 999;
}

nav a {
  position: relative;
  top: 50%;
}

/* XEditable *******************/

.editable-controls {
}

.editable-input {
  border: none;
  /*border-bottom: 1px solid #333;*/
  height: 20px;
  width: 100px !important;
  /*background-color: #E0E4CC;*/
  /*font-family: "Hammersmith One", sans-serif;*/
  /*text-transform: uppercase;*/
}

.editable-input:focus {
} 

.editable-buttons button {
  padding: 0px;
  width: 25px;
  height: 25px;
  font-size: 6px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #00A8C6;
  text-align: center;
  /*text-transform: uppercase;*/
}

.editable-buttons button:nth-child(2) {
  background-color: #d9534f;
}

.navDiv {
/*  width: 32.4%; /* Why not 33.333%? */
  width: 24%;
  height: 44px;
  display: inline-block;
  background-color: #A81303;
  text-align: center;
}

.navDiv:hover, .navDiv:active, .navDiv:focus, .navDiv.active {
  background-color: #D90414;
}

.navDiv span {
  position: relative;
  top: 25%;
}

/* App Launch / FB Login *******/

.loginHeaderDiv {
  height: 75%;
  text-align: center;
}

.loginHeaderMain {
  position: relative;
  top: 50%;
  font-weight: 700;
  font-size: 36pt;
}

.loginHeaderSub {
  position: relative;
  top: 50%;
  font-size: 18pt;
  font-weight: 400;
}

.loginDiv {
  height: 50%;
  position: relative;
  text-align: center;
  margin: auto;
  border-radius: 15px;
}

.fbLogin {
  width: 194px;
  height: 37px;
  border: none;
  background: url("../images/fblogin.png");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

/* Outings *********************/

.outingsSectionHeader {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #00A8C6;
}

.outingsList {
  font-size: 14pt;
  color: black;
}

.outingMovie {
}

.outingDate {
  color: gray;
}

.outingTheater {
}

.outingInvitees {
}

.outingAttendees {
  color: gray;
}

.newOutingButton {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 40px;
  border: 0;
  background-color: #A81303;
  color: white;
  font-size: 12pt;
  font-weight: 400;
}

.newOutingButton:hover, .newOutingButton:active, .newOutingButton:focus, .newOutingButton.active {
  background-color: #D90414;
}

.outingForm {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 800;
  width: 100%;
  padding: 8px 2px;
  background-color: #A81303;
}

/* Movies **********************/

.movieOutingCreation {
  display: none;
}

.moviesSection {
}

.moviesSectionHeader {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(37, 244, 154, .75);
}

.filters {
  text-align: center;
  /*min-width: 650px;*/
}

.filter {
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid #00A8C6;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #ffffff;
  background-color: #00A8C6;
  /*text-transform: uppercase;*/
}

.filter:hover {
  background-color: rgba(37, 244, 154, .75);
  border-color: rgba(37, 244, 154, .75);
  color: #ffffff;
}

.filter:focus {
}

.searchFilter {
  height: 30px;
  width: 300px;
  border: none;
  border-bottom: 3px solid black;
  padding: 0px;
  margin-top: 10px;
  /*text-transform: uppercase;*/
  line-height: 1em;
  font-size: 1.2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}

.searchFilter:focus {
}

.movie {
  display: block;
  padding-top: 15px;
  margin-bottom: 10px;
  overflow: ellipsis;
  color: lightgray;
}

.movieThumb {
  height: 100px;
  float: left;
}

.infoOne {
  float: left;
  width: 200px;
  height: 180px;
  margin-left: 25px;
}

.infoTwo{
  width: 200px;
  height: 180px;
  margin-left: 25px;
  display: inline-block;
}

.movieTitle {
  display: block;
}

.criticScore {
  display: block;
}

.audienceScore {
  display: block;
}

.cast {
  display: block;
  overflow: ellipsis;
}

.actor {
}

.criticsConsensus {
  display: block;
  cursor: pointer;
}

.runtime {
  display: block;
}

.mpaaRating {
  display: block;
}

.synopsis {
  display: block;
  cursor: pointer;
}

.movieHR {
  margin-bottom: 10px;
}

/* Friends *********************/

.sectionContainerFriends {
  padding-left: 0px;
}

.friendsSection {
  padding: 0px !important;
}

.friendsSectionHeader {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F38630;
}

.friend {
  height: 75px;
  padding: 10px;
  background-color: lightgray;
  border-radius: 5px;
  width: 100%;
}

.friendsPhoto {
  height: 70px;
  border-radius: 20px;
  float: left;
}

.friendName {
  display: inline-block;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;
}

/* Profile *********************/

.profileSection{
  height: 200px;
  /*min-width: 750px;*/
  /*text-transform: uppercase;*/
  font-size: .75em;
}

.profile {
  margin-top: 20px;
  /*min-width: 700px;*/
}

#profilePicDiv {
  float: left;
  margin-left: 15px;
}

#profilePic {
  height: 150px;
  width: 140px;
  border-radius: 20px;
}

#userDetails {
  margin-top: 10px;
  margin-left: 30px;
  width: 220px;
  float: left;
}

#userMovieDetails {
  margin-top: 10px;
  margin-left: 30px;
  display: inline-block;
  width: 270px;
}

.userDetail {
  color: black;
  border: none;
  width: 270px;
  line-height: 2.5em;
  display: block;
}

.editableUserDetail {
  color: black;
  border: none;
}

/* Leftover Junk to Delete */

/*.footer {
  height: 100px;
}*/

/*.headerDiv {
  text-align: center;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 30px;
}*/

/*.appHeader {
  background: url("../images/bearLogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 120px;
  border-radius: 50%;
  margin: auto;
  background-color: white;
  display: inline-block;
}*/

/*.logoutButton {
  position: absolute;
  display: inline-block;
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid #00A8C6;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #ffffff;
  background-color: #00A8C6;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 100px;
}*/

/*.logoutButton:hover {
  background-color: rgba(37, 244, 154, .75);
  border-color: rgba(37, 244, 154, .75);
  color: #ffffff;
}*/

/*.sectionHeader {
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  letter-spacing: .1em;
  cursor: pointer;
}*/

/*.sectionContainer {
  padding: 20px;
  display: none;
}*/

/*.sectionContainerProfile {
  color: black;
  padding: 20px;
}*/

/* Tablet Layout ***************/
@media only screen and (min-width: 768px) {

}

/* Desktop Layout **************/
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
