<script>
  /* global $ */
  'use strict';
  $(document).ready(function(){
    $('body').on('click', '.sectionHeader', function(){
      $(this).next().slideToggle();
    });
  });
</script>

<div ng-controller="dashController">

  <div class="headerDiv">
    <h3 class="appHeader"></h3>
    <a class="logoutButton" href="/logout">Logout</a>
  </div>

  <div class="sectionDiv profileSection" ng-include="'/views/profile.html'" ng-controller="ProfileController"></div>
  <div class="sectionDiv friendsSection" ng-include="'/views/friends.html'" ng-controller="FriendsController"></div>
  <div class="sectionDiv moviesSection" ng-include="'/views/movies.html'" ng-controller="MoviesController"></div>
  <div class="sectionDiv outingsSection" ng-include="'/views/outings.html'" ng-controller="OutingsController"></div>

</div>

<div class="footer"></div>