<script>
  $(function () {
    var loginHeight = function() {
      var windowHeight = window.innerHeight - 100 + "px";

      $(".loginContainer").css({
        height : windowHeight
      });
    };

    loginHeight();

    $(window).resize(function () {
      loginHeight();
    });
  });
</script>

<div class="loginContainer">

  <div class="loginHeaderDiv">
    <h1 class="loginHeader">MOVIE BUDDY</h1>
    <h2 class="loginHeaderTwo">Organize Movies with Friends Fast</h2>
  </div>

  <div class="loginDiv">
    <a href="/auth/facebook">
      <button class="fbLogin"></button>
    </a>
  </div>
  
</div>

<div class="loginFooter"></div>
