<div id="fb-root"></div>
<script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1391051064505902";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

$(document).ready(function(){

  var loginHeight = function(){
    var windowHeight = window.innerHeight - 100 + 'px';
    $('.loginContainer').css({
      height : windowHeight
    });
  }

  loginHeight();

  $(window).resize(function(){
    loginHeight();
  });
})

</script>

<div class='loginContainer' ng-controller='loginController'>
  <div class='loginHeaderDiv'>
    <h1 class='loginHeader'>MOVIE BUDDY</h1>
    <h2 class='loginHeaderTwo'>Organize Movies With Friends Fast</h2>
  </div>

<!-- <div class='logoDiv'><span class='logo'></span></div> -->

  <div class='loginDiv'>
    <a href="/auth/facebook"><button class='fbLogin'></button></a>
  </div>


</div>
<div class='loginFooter'></div>
