<div class="sectionContainer centered">

  <button ng-click="newOuting()" ng-show="showNewOutingButton()" class="newOutingButton">New Outing</button>

  <form ng-submit="processOutingForm()" ng-show="showNewOutingForm()" name="outingForm" class="outingForm">
    <div>
      1. Select Movie & Date:<br />
      <select ng-model="form.movie" name="movie" ng-options="movie.title for movie in allMovies" ng-change='getTheaters(form.movie)'></select><br />
    </div>
    <div ng-show='dateFieldDisplay()'>
      2. Select Date:<br />
      <input ng-model="form.date" name="date" type="date" class="outingField" ng-change='showTheaters()'>
    </div>
    <div ng-show="theaterField()">
      3. Select Theater:<br />
      <select ng-model="form.theater" name="theater" type="text" placeholder="Theater" class="outingField" ng-options="theater.theatre.name for (name, theater) in theaters" ng-change='getShowtimes(form.movie, form.theater)' ></select><br />
    </div>
    <div ng-show="showtimeField()">
      4. Select Show Time:<br />
      <select ng-model="form.showtime" name="theater" type="text" placeholder="Theater" class="outingField" ng-options="showtime for (showtime, showtime) in showtimes" ></select>
    </div>

    <button ng-click="cancelNewOuting()" type="reset">Cancel</button>
    <button ng-click="" type="submit">Create Outing</button>
  </form>

  <div class="outingsList">
    <div ng-repeat="outing in outings | orderBy: 'date'">
      <form editable-form name="editableForm" onaftersave="editOuting()">
        
        <span class="outingMovie">{{ outing.movie }}</span> • 
        <span class="outingDate">{{ outing.date | date: 'EEE., MMM. d' }}</span><br>
        <span class="outingTheater">{{ outing.theater }}</span> • 
        <span ng-repeat="(attendeeId, attendee) in outing.attendees" class="outingAttendees">{{ attendee.name }}, </span>
        <span class="outingShowtime">{{ outing.showtime }}</span>

        <button ng-click="joinOuting()" ng-show="showJoinButton()" type="button">Join</button>
        <button ng-click="bailOuting()" ng-show="showBailButton()" type="button">Bail</button>
        <button type="button" ng-click="editableForm.$show()" ng-show="!editableForm.$visible && showEditButton()">Edit</button>

        <span ng-show="editableForm.$visible">
          <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">Save Edit</button>
          <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel Edit</button>
        </span>
        <hr>

      </form>
    </div>
  </div>
</div>
