<h3 class="sectionHeader"></h3>

<div class="sectionContainerProfile">

  <div id="profilePicDiv">
    <img id="profilePic" src={{user.profilePicture}}>
  </div>

  <div id="userDetails">
    <span class="userDetail"><u>Name:</u> <span class='editableUserDetail' onaftersave='updateUser()' editable-text='user.name'>{{user.name || 'empty'}}</span></span>
    <span class="userDetail"><u>user.age:</u> <span  class='editableUserDetail' onaftersave='updateUser()' editable-text='user.age'>{{user.age}}</span></span>
    <span class="userDetail"><u>Current City:</u> <span class='editableUserDetail' onaftersave='updateUser()' editable-text='user.currentCity'>{{user.currentCity}}</span></span>
    <span class="userDetail" ><u>Hometown:</u> <span class='editableUserDetail' onaftersave='updateUser()' editable-text='user.hometown'>{{user.hometown}}</span></span>
  </div>

  <div id="userMovieDetails">
    <span class="userDetail"><u>Favorite Movie:</u> <span class='editableUserDetail' onaftersave='updateUser()' editable-text='user.favMovie'>{{user.favMovie}}</span></span>
    <span class="userDetail"><u>Favorite Genre:</u> <span  class='editableUserDetail' onaftersave='updateUser()' editable-text='user.favGenre'>{{user.favGenre}}</span></span>
    <span class="userDetail"><u>Favorite Theater:</u> <span class='editableUserDetail' onaftersave='updateUser()' editable-text='user.favTheater'>{{user.favTheater}}</span></span>
    <span class="userDetail"><u>Favorite Actor:</u> <span class='editableUserDetail' onaftersave='updateUser()' editable-text='user.favActor'>{{user.favActor}}</span></span>
  </div>

</div>
