<h3 class='sectionHeader profile'>Profile</h3>
<div class='sectionContainer'>
	<div id='profilePicDiv'><img id='profilePic' src='../images/mainManRich.jpg'></div>
	<div id='userDetails'>
	<span class='userDetail'><u>Name:</u> {{testUser}}</span>
	<span class='userDetail'><u>Age:</u> {{testAge}}</span>
	<span class='userDetail'><u>Current City:</u> {{testCurrentCity}}</span>
	<span class='userDetail'><u>Hometown:</u> {{testHometown}}</span>
	</div>
	<div id='userMovieDetails'>
	<span class='userDetail'><u>Favorite Movie:</u> {{testFavMovie}}</span>
	<span class='userDetail'><u>Favorite Genre:</u> {{testFavGenre}}</span>
	<span class='userDetail'><u>Favorite Theater:</u> {{testFavTheater}}</span>
	<span class='userDetail'><u>Favorite Actor:</u> {{testFavActor}}</span>
	</div>
</div>
